include ../../components/button/button.pug

mixin changePasswordForm()
    form.form_tabel
        label.from__field.item-divider
            span Old password
            input(type="password" name="oldPassword" value="231231").input_reset
        label.from__field.item-divider
            span New password
            input(type="password" name="newPassword" value="4242342").input_reset
        label.from__field.item-divider
            span Repeat the new password
            input(type="password" value="4242342").input_reset

        +button(type="submit").from__submit Save
