.error-page-message {
    text-align: center;

    &__status {
        display: block;
        margin-bottom: 20px;

        font-size: 40px;
    }

    &__message {
        margin-bottom: 70px;
    }
}
