.back {
	position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
	height: 100vh;

    background-color: #fbfbfb;
    border-right: 1px solid var(--divider-color);
}
