.button {
    padding: 12px;

    color: var(--second-color);
	text-decoration: none;

    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    transition: background-color var(--transition-time) var(--transition-animation);

    cursor: pointer;

    &:hover,
    &:focus-visible {
        background-color: var(--active-color);
    }

    &_round {
        --size: 28px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--size);
        height: var(--size);
        padding: 0px;

        border-radius: 50%;
    }
}
