include ../avatar/avatar.pug

mixin changeAvatar()
    .change-avatar&attributes(attributes)
        button.button_reset.change-avatar__button(type="button")
            +avatar("130px")
            .change-avatar__overlay Поменять аватар
