.search {
	width: 100%;
    padding: 10px;
    margin: 0px;

    font-size: var(--small-font-size);

    background-color: var(--light-gray-color);
    border-radius: 5px;
    border: none;

    &::placeholder {
        text-align: center;
    }
}
