:root {
    --large-font-size: 20px;
    --primary-font-size: 16px;
    --small-font-size: 13px;
    --font-family: 'Inter', sans-serif;
	--font-family-body: var(--font-family);
	--font-weight: 500;

    --primary-color: #1e1e1e;
    --second-color: #ffffff;
    --accent-color: #3369F3;
    --active-color: #2957cb;
    --second-accent-color: #ff2f2f;
    --dark-gray-color: #999999;
    --light-gray-color: #eaeaea;

    --divider-color: var(--light-gray-color);

    --transition-time: .3s;
    --transition-animation: ease-out;
}
