extends ../layout/layout.pug

include ../components/error-page-message/error-page-message.pug

block helmet
    title The problem arose with us :(
    meta(name='description' content='This is our problem. We will fix it soon :(')

block content
    +errorPageMessage(500, 'We are already fixing').center
