extends ../layout/profile/profile.pug

include ../modules/change-password-form/change-password-form.pug


block helmet
    title Change password
    meta(name='description' content='Change Profile password')

block profile
    +changePasswordForm
