include ../link/link.pug

mixin profileNav()
    nav
        ul.list_divider.list_reset
            li
                +link(href="/") Изменить данные
            li
                +link(href="/") Изменить пароль
            li
                +link(true)(href="/") Выйти
