include ../link/link.pug

mixin profileNav()
    nav
        ul.list_divider.reset
            li.item-divider
                +link(href='change-profile-data.pug') Изменить данные
            li.item-divider
                +link(href='change-password.pug') Изменить пароль
            li.item-divider
                +link(true)(href='/') Выйти
