.field {
    --inset: 7px;

    display: flex;
    flex-direction: column;

	&_row {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: var(--inset) 0px;

		&:not(:last-of-type) {
			border-bottom: 1px solid var(--divider-color);
		}
	}

    &__label {
        margin-bottom: var(--inset);

        font-size: var(--small-font-size);
        color: var(--dark-gray-color);
    }

	&_row &__label {
		margin-bottom: 0px;
		margin-right: var(--inset);

		font-size: var(--primary-font-size);
		color: var(--primary-color);
	}

    &__input {
        padding: var(--inset) 0px;

        font-size: var(--primary-font-size);
        font-family: var(--primary-font-family);
        font-weight: var(--primary-font-weight);
        color: var(--primary-color);

        border: none;
        border-bottom: 1px solid var(--accent-color);

        outline: none;
    }

	&_row &__input {
		padding: 0px;
		flex-grow: 1;

		text-align: right;
		color: var(--dark-gray-color);

		border: none;
	}

    &__input:invalid + &__error {
        display: block;
    }

    &__error {
        display: none;
        margin-top: var(--inset);

        font-size: var(--small-font-size);
        color: var(--second-accent-color);
    }
}
