* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
	font-family: var(--font-family-body);
	font-weight: var(--font-weight);

	color: var(--primary-color);
}

.item-divider {
    padding: 10px 0px;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--divider-color);
    }
}

.aside {
	padding: 11px;

	border-right: 1px solid var(--divider-color);
}


.chat {
	display: flex;
	flex-direction: column;
	padding: 11px 20px;

	&__user {
		padding-bottom: 11px;
		border-bottom: 1px solid var(--divider-color);
		margin-bottom: auto;
	}

	&__send-form {
		padding-top: 11px;
		margin-top: 20px;

		border-top: 1px solid var(--divider-color);
	}
}


.search {
	padding: 11px 0px;
	margin-bottom: 11px;

	border-bottom: 1px solid var(--divider-color);
}
