* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    /* font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    font-family: var(--primary-font-family);
    color: var(--primary-color); */

	font-family: var(--font-family-body);
	font-weight: var(--font-weight);

	color: var(--primary-color);
}

.item-divider {
    padding: 10px 0px;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--divider-color);
    }
}
