* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
	font-family: var(--font-family-body);
	font-weight: var(--font-weight);

	color: var(--primary-color);
}

.item-divider {
    padding: 10px 0px;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--divider-color);
    }
}

.aside {
	padding: 11px;

	border-right: 1px solid var(--divider-color);
}


.chat {
	display: flex;
	flex-direction: column;
	padding: 11px 20px;

	&__user {
		padding-bottom: 11px;
		border-bottom: 1px solid var(--divider-color);
		margin-bottom: auto;
	}

	&__send-form {
		padding-top: 11px;
		margin-top: 20px;

		border-top: 1px solid var(--divider-color);
	}
}


.search {
	padding: 11px 0px;
	margin-bottom: 11px;

	border-bottom: 1px solid var(--divider-color);
}

/* Global */

.box {
	width: 400px;
	min-height: auto;
    padding: 30px;

    background-color: var(--second-color);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

	&_center {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}
}

.title {
    margin: 0px;

    font-size: var(--large-font-size);
    color: var(--primary-color);
}


.link {
    font-size: var(--small-font-size);
    color: var(--accent-color);
    text-decoration: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }

    &_accent {
        color: var(--second-accent-color);
    }
}
