:root {
    --large-font-size: 20px;
    --primary-font-size: 16px;
    --small-font-size: 13px;
    --primary-font-weight: 500;
    --primary-font-family: 'Inter', sans-serif;

    --primary-color: #1e1e1e;
    --second-color: #ffffff;
    --accent-color: #3369F3;
    --active-color: #2957cb;
    --second-accent-color: #ff2f2f;
    --divider-color: #eaeaea;

    --transition-time: .3s;
    --transition-animation: ease-out;
}
