include ../avatar/avatar.pug

mixin dialog(isSelected)
    - const classSelected = isSelected ? 'dialog_selected' : ''
    a.dialog.d-flex.f-ai-c(tabindex="1" class=classSelected)&attributes(attributes)
        +avatar.dialog__avatar
        div.dialog__main.f-grow
            header.dialog__header.d-flex.f-jc-sb
                span.dialog__name Андрей
                time.dialog__time 10:49
            p.dialog__preview Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            span.dialog__bage 2
