mixin avatar(size)
    - const s = size || '50px';
    - const src = attributes.src ? attributes.src : '/static/image/default-avatar.png';
    img.avatar(style={ width: s, height: s } src=src )&attributes(attributes)
