doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Hello, world! 👋
        meta(name="description" content="The site is transmitted hello 👋.")

        link(rel="stylesheet" href="./styles/index.css")

    body
        main.wrapper
            h1.title Hello, world!
                span.greeting 👋
