.chat-list {
	display: flex;
	flex-direction: column;

	overflow-y: auto;

	&__item {
		max-width: 400px;
		margin-left: auto;

		&_side-right {
			margin-left: 0px;
		}

		&:not(:last-child) {
			margin-bottom: 10px
		}
	}
}
